################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.tmp.driveupload
/
*.exe
*.obj
*.pdb
*.ilk
*.idb
*.suo
*.user
*.ipch
*.aps
*.ncb
*.sdf
*.opensdf
*.log
*.tlog
*.lastbuildstate
*.sln.docstates
*.in
*.out
*.db
*.json
